html{
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

@media (min-width: 1440px) {
    body{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}
